
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.display-flex{
    display: flex;
}
.common-text{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    /* text-align: center; */
}

/* for multiple texts */
.text-color{
    color: rgba(255, 255, 255, 1);
}

/* for dark background color */
.dark-background{
    color: rgba(26, 11, 46, 1);
}

/* navbar related styles */
.navbar{
    background-color: rgba(26, 11, 46, 1) ;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
}

.nav-item{
    list-style: none;
    margin-left: 32px;
}

.nan-link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.btn-primary{
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    border: none;
    display: flex;
    gap: 6px;
}

/* menu icon hide in desktop */
.menu-icon{
    display: none;
    width: 30px;
    cursor: pointer;
}
/* banner section styles */

.banner{
    width: 100%;
  /* max-width:1600px;  */
  height: 760px;
  margin-top: 0px;
  background-image: url("../images/hero-bg.png");
  background-size: cover;
  background-position: center;
}

.banner-container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.banner-img{
    position: relative;
    width: 350px;
    height: 350px;
}

.banner-img-circle{
    /* position: relative; */
    width: 100%;
    height: 100%;
    display: block;
}

.banner-overlaying-img{
    z-index: 10;
    /* position: absolute; */
    margin-top: 20px;
    margin-left: 30px;
    /* width: 100%; */
    /* height: auto; */
}

.banner-content-h1{
    font-size: 3.75rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
}

/* for about sections */

.about {
  padding: 80px 20px;
  text-align: center;
  background-color: rgba(26, 11, 46, 1);

}

.about-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.about-content-text {
  max-width: 700px;
  margin: 0 auto 15px;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 1.6;
}

.about-card {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.about-card-box h2 {
  color: #00FF88;
  font-size: 2.8rem;
  margin-bottom: 8px;
}

.about-card-box span {
  font-size: 1rem;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 1);
}

/* why choose tech wave styles */


.why {
  max-width: 1600px;  
  padding: 200px 120px;
  margin: auto;
  background-color: rgba(35, 14, 61, 1);
}

.why h2 {
  color: #FFFFFF;    
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

/*for Grid */
.why-box-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px) 250px;
  gap: 30px;
}

/*for Card */
.card {
  color: #FFFFFF;  
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 25px;
  padding: 30px;
}

.card h3 {
  margin: 15px 0 10px;
  font-size: 20px;
}

.card p {
  font-size: 14px;
  line-height: 1.6;
  color: rgba(255, 255, 255, 1);
}

/* Image icon */
.icon-img {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

/* Grid span */
/* .tall  */
.audio{
  grid-row: span 2;
}
.mobile,
.global{
    grid-column: span 2;
}

.interview {
  grid-column: span 2;
}




/* responsive media query */

@media screen and (max-width:576px){
    .navbar{
        padding: 12px 20px;
    }
    .nav-link, 
    .btn-primary{
        display: none;
    }
    .menu-icon{
        display: block;
    }

    .about {
    padding: 50px 15px;
     }

      .about-content h1 {
    font-size: 2rem;
    }

    .about-content-text {
    font-size: 1rem;
    line-height: 1.5;
     }

    .about-card-box h2 {
    font-size: 2.5rem;
    }

     .about-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 column */
    gap: 30px;
    margin-top: 40px;
  }

  .why-box-grid{
    display: grid;
    grid-template-columns: 1fr;
  }

  .mobile,
  .global, .audio{
    max-width: 400px;
    height: 200px;
    padding: 24px;
   }



}


/* for medium size device */

@media screen and (min-width: 576px) and (max-width: 992px) {
    
.navbar{
        padding: 12px 20px;
    }
    .nav-link, 
    .btn-primary{
        display: none;
    }
    .menu-icon{
        display: block;
    }

}

/* for large screens */

@media screen and (min-width: 993px){
    .nav-link, 
    .btn-primary{
        display: flex;
        gap: 20px;
    }
    
}